/* ======================Poppins Font Link ======================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
/* ================================================
            Navbar Part Css Start
===================================================*/
/* ================================================
            Navbar Part Css End
===================================================*/

/* ================================================
            Navbar Part Css Start
===================================================*/
/* ================================================
            Navbar Part Css End
===================================================*/

/* ================================================
            Navbar Part Css Start
===================================================*/
/* ================================================
            Navbar Part Css End
===================================================*/

/* ================================================
            Navbar Part Css Start
===================================================*/
/* ================================================
            Navbar Part Css End
===================================================*/

/* ================================================
            Navbar Part Css Start
===================================================*/
/* ================================================
            Navbar Part Css End
===================================================*/

/* ================================================
            Navbar Part Css Start
===================================================*/
/* ================================================
            Navbar Part Css End
===================================================*/

/* ================================================
            Navbar Part Css Start
===================================================*/
/* ================================================
            Navbar Part Css End
===================================================*/

/* ================================================
            Navbar Part Css Start
===================================================*/
/* ================================================
            Navbar Part Css End
===================================================*/

/* ================================================
            Navbar Part Css Start
===================================================*/
/* ================================================
            Navbar Part Css End
===================================================*/
