/* ======================Poppins Font Link ======================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ======================Manrope Font Link ======================== */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
div {
  margin: 0;
  padding: 0;
}

:root {
  --Bg-Banner: #1c1e53;
  --Yellow: #fcd980;
  --Royal-Blue: #2405f2;
  --Dark-blue: #282938;
  --White: #fff;
  --Grey: #f4f6fc;
  --Black: #000;
  --Manrope: "Manrope", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}
/* ================================================
            Navbar Part Css Start
===================================================*/
#navbar_part {
  padding: 32px 0;
  background: var(--Bg-Banner);
}
#navbar_part .custom_menu a {
  color: #bbbbcb;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-right: 26px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
#navbar_part .custom_menu a:hover {
  color: var(--White, #fff);
}
#navbar_part .Btn button {
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  background: transparent;
  margin-left: 16px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
#navbar_part .Btn button:hover {
  color: var(--Dark-blue, #282938);
  background: var(--Grey);
}

#navbar_part .banner_part {
  padding: 128px 0;
}
#navbar_part .banner_part .banner_text h1 {
  color: var(--White, #fff);
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 32px;
}
#navbar_part .banner_part .banner_text p {
  color: var(--White, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
  margin-bottom: 32px;
}
#navbar_part .banner_part .banner_text a {
  color: var(--Dark-blue, #282938);
  background: var(--Yellow);
  font-family: var(--Manrope);
  font-weight: 600;
  line-height: 32px;
  padding: 16px 48px;
  border-radius: 41px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  display: inline-block;
}
#navbar_part .banner_part .banner_text a:hover {
  color: var(--Dark-blue, #282938);
  background: var(--Grey, #f4f6fc);
  transform: translate(8%);
  -webkit-transform: translate(8%);
  -moz-transform: translate(8%);
  -ms-transform: translate(8%);
  -o-transform: translate(8%);
}

/* ================================================
            Navbar Part Css End
===================================================*/

/* ================================================
            Work Part Css Start
===================================================*/
#work_part .work_logo_part {
  padding: 96px 0;
}
#work_part .logo_text {
  cursor: pointer;
}
#work_part .logo_text h5 {
  color: var(--Dark-blue, #282938);
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
#work_part .logo_text p {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
#work_part .logo_icon {
  margin-top: 30px;
  margin-left: 54px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  cursor: pointer;
}
#work_part .logo_icon:hover {
  transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
}

#work_part .work_body .work_heaeding h2 {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 48px;
}
#work_part .work_body .work_box {
  background: var(--Grey, #f4f6fc);
  padding: 50px 32px 48px 48px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
#work_part .work_body .work_box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
}

#work_part .work_body .work_box h6 {
  color: var(--Dark-blue, #282938);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding-top: 26px;
}
#work_part .work_body .work_box p {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  padding-top: 12px;
}

/* ================================================
            Work Part Css End
===================================================*/

/* ================================================
            Client Part Css Start
===================================================*/
#client_part {
  padding: 128px 0;
}
#client_part .client_content_text h6 {
  margin-top: 41px;
}
.client_content_text h6 {
  color: var(--Black, #000);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 69px;
}
.client_content_text h3 {
  color: #232536;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  margin-top: 16px;
  margin-bottom: 19px;
}
.client_content_text p {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
  padding-right: 17px;
}
.client_img {
  margin-left: 81px;
}
.client_img img {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  cursor: pointer;
}

/* ================================================
            Client Part Css End
===================================================*/

/* ================================================
            Maintenance Part Css Start
===================================================*/
#maintenance_part {
  padding: 128px 0;
  background: var(--Grey, #f4f6fc);
}
#maintenance_part .client_img {
  margin-left: 0;
}
/* ================================================
            Maintenance Part Css End
===================================================*/

/* ================================================
            Support Part Css Start
===================================================*/

#support_part {
  padding: 128px 0;
}

/* ================================================
            Support Part Css End
===================================================*/

/* ================================================
            Delivery Part Css Start
===================================================*/

#delivery_part {
  padding: 128px 0;
  background: rgba(252, 217, 128, 0.1);
}
#delivery_part .client_img {
  margin-left: 0;
}

/* ================================================
            Delivery Part Css End
===================================================*/
